body {
    background: #f5f5f0;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}
.container {
    margin: 30px 20px;
}
#header {
    margin-bottom: 30px;
    letter-spacing: 5pt;
    font-size: 35pt;
    text-shadow: 3px 3px 15px #ff80aa;
}
.statusBar {
    margin-top: 50px;
    margin-bottom: 40px;
}
.wordCount {
	letter-spacing: 10pt;
	font-size: 50pt;
    color: #400080;
}
.letter {
    padding: 10px;
    font-size: 20pt;
    min-width: 60px;
    min-height: 60px;
    border-radius: 5px;
    background: #e6ccff;
    border: 1px solid #3e3e3e;
    margin: 7px;
}
.letter:hover {
    border: 3px solid #3e3e3e;
    background: #ffffb3;    
}
.statusBar > p {
    font-size: 15pt;
}
.guessBox {
    font-size: 15pt;
}
    #guessedWord {
        border-radius: 5px;
        border: 1px solid #3e3e3e;   
        min-width: 400px;
        min-height: 40px;
        margin-top: 50px;
        letter-spacing: 5pt;
        padding: 5px 20px;
    }
    #guess {
        border-radius: 5px;
        border: 1px solid #3e3e3e;
        background: #e6ccff;    
        min-width: 80px;
        min-height: 40px;
        margin-top: 50px;
    }
    #guess:hover {
        border: 3px solid #3e3e3e;
        background: #ffffb3;    
    }
.winner, .looser {
    letter-spacing: 5pt;
    font-size: 35pt;
    color: #cc0099;
    padding-top: 80px;
}
.looser {
    color: red;
}