body {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(132,181,165,0.98) 39%, rgba(209,209,209,0.96) 70%, rgba(254,254,254,0.94) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(39%, rgba(132,181,165,0.98)), color-stop(70%, rgba(209,209,209,0.96)), color-stop(100%, rgba(254,254,254,0.94)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(132,181,165,0.98) 39%, rgba(209,209,209,0.96) 70%, rgba(254,254,254,0.94) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(132,181,165,0.98) 39%, rgba(209,209,209,0.96) 70%, rgba(254,254,254,0.94) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(132,181,165,0.98) 39%, rgba(209,209,209,0.96) 70%, rgba(254,254,254,0.94) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(132,181,165,0.98) 39%, rgba(209,209,209,0.96) 70%, rgba(254,254,254,0.94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    overflow: hidden;
}
.container {
    margin-top: 50px;
}
#header {
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 5pt;
    text-shadow: 6px 6px 15px white;
    font-size: 60pt;
}
.field {
	border: 1px solid black;
	font-size: 35pt;
    display: table-cell;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    background: #ffffe6;
}
[data-pos] {
    border-radius: 20px;
}
.winner {
    letter-spacing: 5pt;
    font-size: 25pt;
    color: #cc0099;
    padding-top: 40px;
}
.board {
    display: table;
    margin: 0 auto;
}
.gameResult {
    font-size: 25pt;  
    letter-spacing: 2pt; 
    text-shadow: 6px 6px 15px white; 
}
#newGame {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ccffee;
    font-size: 15pt;  
    letter-spacing: 2pt; 
    padding: 4pt 10pt; 
    margin-top: 15px;
    margin-bottom: 30px;
}