@charset "UTF-8";

body{
  background: #ffffff url('../img/background.png') repeat;
  width: 100%;
  font: 12px/20px Verdana, Arial, sans-serif;
  color:#111;
}

#wrapper { 
  margin: 0 auto;
  width:960px;
  padding:0 10px;
  margin-bottom:20px;
  overflow: hidden;
}

#logo{
  font: 50px/140px 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  display: block;
  margin: 0 0 10px 10px;
  color: #EA7B01;
  background: transparent url('../img/logo.png') no-repeat top left;
  padding: 0 0px 0 200px;
  height:150px;
  margin: 0 0 20px 0;  
}

header {
  position: relative;
  margin: 10px 0 0 0;
  height: 300px;
}
header nav {
  position: absolute;
  right: 0px;
  top:130px;
}
header nav ul {margin:0; padding:0;}
header nav ul li { 
  float:left;
  margin-left: 5px;
  list-style: none; 
}

header nav ul li a{
  color:#EA7B01;
  text-decoration: none;
  font-size: 14px;
  padding:4px 8px;
  display: inline-block;/* IE8 nadanie obiektowi hasLayout*/
}

header nav ul li a.active{
  background: #FF7700; /* Old browsers */
  background: -moz-linear-gradient(top,  #FF7700 0%, #EA7B01 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FF7700 0%,#EA7B01 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FF7700 0%,#EA7B01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7700', endColorstr='#EA7B01',GradientType=0 ); /* IE6-9 */

  color:#ffffff;

  border:1px solid #EA7B01;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #EA7B01;
  -moz-box-shadow: 1px 1px 2px #EA7B01;
  box-shadow: 1px 1px 1px #EA7B01;
}

header nav ul li a:hover{
  color:#FFD0A8;
}

header nav ul li a.active:hover{
  background: #FFD0A8; /* Old browsers */
  background: -moz-linear-gradient(top,  #FFD0A8 0%, #EA7B01 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FFD0A8 0%,#EA7B01 100%); /* Chrome10-25`/
  background: linear-gradient(to bottom,  #FFD0A8 0%,#EA7B01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD0A8', endColorstr='#EA7B01',GradientType=0 ); /* IE6-9 */

  color:#ffffff;
}

header section#main-image {
  background: url('../img/mainfoto.png') no-repeat;
  height:355px; 
  width: 930px;
  display: block;
  border: 5px solid #fff;
  margin:0 auto;
  -webkit-box-shadow:0 5px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:0 5px 6px rgba(0, 0, 0, 0.25);
  box-shadow:0px 5px 6px rgba(0, 0, 0, 0.25);
}

section#main-image figure {
  float:right;
  height: 245px;
  padding: 110px 0 0 60px;
  width: 250px;
  background-color:rgba(0, 0, 0, 0.5);
}

section#main-image figure h2{
  font-family: 'Oswald', sans-serif;
  color:#fff;
  font-size: 28px;
  line-height: 40px;
}

section#main-image figure h2.second{margin-left:40px;}
section#main-image figure h2.third{margin-left:80px;}




#content-wrapper {clear:both; padding: 30px 10px 0 10px;overflow: hidden;}
#content-wrapper #mainArticle strong{font-weight:bold;color:#EA7B01;}
#content-wrapper h2{
  font-family: 'Source Sans Pro', sans-serif;
  color:#EA7B01;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 0px;
  text-shadow:0 0 1px transparent;
}
#content-wrapper div {display:table;height:100%;margin: 0 0 2px 0;width:100%;}

#content-wrapper article#mainArticle {float:left;width:620px;}
article {padding-bottom: 0px;display:table-cell;}

#content-wrapper section.news ul{margin:0; padding:0;overflow: hidden;}
#content-wrapper section.news ul li{float:left;width: 300px;margin: 0 0 10px 0;}
#content-wrapper section.news ul li.row-end{margin: 0;}
#content-wrapper section.news ul li h3{color:#EA7B01;}
#content-wrapper section.news ul li a.more{float:right;color:#EA7B01;}
#content-wrapper section.news ul li a.more:hover{text-decoration: none;}

aside {float:right;width:300px;display:table-cell;}
aside section{margin-bottom: 0px;overflow: hidden;}

.gallery {display:table-cell;}
.gallery ul.sidebar{margin:0;padding:0;}
.gallery ul.sidebar li{float:left;margin: 5px 14px;}

.gallery ul.sidebar li a img{
 border:4px solid #fff;
 -webkit-box-shadow: 0px 3px 6px #EA7B01;
 -moz-box-shadow: 0px 3px 6px #EA7B01;
 box-shadow: 0px 3px 6px #EA7B01;
}

footer {
  clear:both;
  margin-top:20px;
  padding:15px;
  background: #EA7B01;
  display: block;
  overflow: hidden;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

footer nav ul {margin:0; padding:0;}
footer nav ul li{float:left;margin-left: 20px;position: relative;list-style: none;}
footer nav ul li a{text-decoration: none;color: inherit;}
footer nav ul li a:hover{color: #ffffff;}

.right {
  float: right;
}
.left {
  float: left;
}
.lista_spelnione {
  list-style-type: upper-roman;
  font: 12px/20px Verdana, Arial, sans-serif;
  color:#111;
}
#content-wrapper div article h2 {
  color:#EA7B01;
  font-weight: bold;
}

#content-wrapper div article ol.lista_spelnione li details {
  margin-left: 30px;
}
#content-wrapper div article ol.lista_spelnione li details>p {
  margin-left: 65px;
}
#spelnione {
  margin: 20px 30px;
}
article#przedeMna h3 {
  font: 18px/25px Verdana, Arial, sans-serif;
  color:#EA7B01;
}
article#przedeMna p {
  font-family: Verdana, Arial, sans-serif;
  color:#111;
  margin: 10px 10px;
  text-align: justify;
}
article#przedeMna ul#listPrzedeMna {
  list-style-type: none;
}
article#przedeMna ul#listPrzedeMna li:before {
  background-image: url(images/lista_usmiech.jpg);
  background-size: 17px 17px;
  display: inline-block;
  width: 17px;
  height: 17px;
  content: "";
  margin-right: 10px;
}
article#przedeMna ul#listPrzedeMna a {
  text-decoration: none;
}
article#przedeMna ul#listPrzedeMna a:hover {
  color: #ffffff;
  border: 1px solid #111;
  -webkit-box-shadow: 0px 3px 6px #EA7B01;
  -moz-box-shadow: 0px 3px 6px #EA7B01;
  box-shadow: 0px 3px 6px #EA7B01;
  background-color: #EA7B01;
}
a.powrotDoMenu {
  text-decoration: none;
  color: orange;
}
form#formularz {
  font-family: Verdana, Arial, sans-serif;
}
form#formularz fieldset legend {
  margin-left: 20px; 
  margin-bottom:10px;
}
form#formularz fieldset div.daneKont { 
  margin: 20px; 
  margin-top: 0px;
}
form#formularz fieldset div.daneKont input[type='text'], input[type='email'] { 
  margin-left: 30px; 
}

form#formularz fieldset {
  margin-right: 10px;
}
form#formularz fieldset div.daneKont textarea { 
  width: 500px;
  height: 70px; 
}
form#formularz fieldset div label {
  font-weight: bold;
}
form#formularz fieldset div input[type='submit'], input[type='reset'] { 
  width: 100px;
  height: 30px; 
  font-weight: bold;
  font-size: 15px;
}
.rounded {
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #EA7B01;
  -moz-box-shadow: 1px 1px 2px #EA7B01;
  box-shadow: 1px 1px 1px #EA7B01;
}