body {
    background-color: #FFEFD5;
}
.naglowek {
    margin-left: 35px;
}
.wrapper {
    background-color: #d6f5d6;                
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.row1, .row2 {
    margin: 0 20px;
    height: auto;
}
.text {
    text-align: center;
    background-color: #FFEFD5;
    border: 2px solid black;
    border-radius: 10px;
    border-style: ridge; 
    width: 290px;
    height: auto;
    float: left;
    margin: 10px;
    margin-left: 15px;
}
.footer {
    background-color: greenyellow;
    text-align: center;
    clear: both;
}
.lista {
    width: 100%;
    margin: 0;
    margin-left: 35px;
    padding: 0;
}
.lista li {
    display: inline;
    width: 100%;
    padding: 20px;
    padding-left: 0px;
}
@media all and (max-width: 1023px) {
    .wrapper {
        width: auto;
    }
    .header {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .naglowek {
        margin: auto;
    }
     .row1, .row2 {
        width: auto;
        height: auto;    
    }
    .text {
        width: 100%;
        height: auto;
        float: left;
        margin: auto;
        margin-bottom: 10px;
    }
    .lista {
        width: 100%;
        margin: 0;
        margin: auto;
        padding: 0;
    }
    .lista li {
        display: block;
        width: 100%;
        padding: 20px;
        padding-left: 0px;
    }
    .content { 
        margin-bottom: 10px;
    }
}