body {
    background: #ffffcc;
    font-family: cursive;
}
.settingsBox, .playBox {
    background: #ddffcc;
    padding: 30px 15px;
}
input[type=text] {
    margin-bottom: 5px;
}
button {
    margin-top: 5px;
}
.playBox {
    display: none;
}