body {
    background-color: #f3f2ed;
}
.container {
    width: 100%;
}
:focus {
    outline: none;
}
/*header*/

.header {
    background-color: rgba(0, 0, 0, 0.08);
}
    .headerTop {
        width: 600px;
        height: 88px;
        background-color: #343538;  
        margin: 0 auto;
/*        position: fixed;*/
/*        z-index: 9999;*/
    }
        .headerLogo { 
            text-transform: uppercase;
            padding-top: 18px;
            padding-left: 25px;
            color: #ffffff;
            font-size: 30pt;
            font-weight: 600;
            display: inline-block;
            margin-right: 190px;
        }
        .headerMenu {
            color: #b3b3b3;
            font: 400 13px / 18px "Helvetica";
            margin: 0px;
            margin-right: 25px;
            max-width: 500px;
            display: inline-block;
        }
            .headerMenu > a {
                color: #ffffff;
            }
            .headerMenu > a:hover {
                text-decoration: none;
            }

/*.myRow*/

.cont {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
}
h4.mainText {
    color: #343538;
    font: 600 18px / 18px "Helvetica";
}
.innerText {
    color: #a7a7a7;
    font: 500 14px / 22px "Helvetica";
}
.area1 {
    padding: 20px 35px;
}
.detailsBtn {
    height: 36px;
    width: 100px;
    background-color: #343538;
    border: 0px;
    border-radius: 30px;
    color: #ffffff;
    font: 600 14px / 24px "Helvetica";
    margin: 10px auto;
}
.iconsText {
    margin-top: 15px;
    margin-bottom: 10px;
}
.containerArea2 {
    width: 97%;
}
.containerArea2 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.containerArea3 {
    padding: 0px;
    padding-top: 20px;
    margin-left: 20px;
}
.imgArea4 {
    text-align: left;
    padding: 0;
}
.textArea4 {
    margin-top: 30px;
    padding: 30px;
    padding-top: 0px;
}
.imgArea5 > .col-md-4 {
    padding: 0;
}
.area5 .mainText {
    margin-top: 25px;
}
.area5 .innerText {
    margin-bottom: 25px;
}
.area6 {
    background-color: #343538;
    height: 120px;
    display: table;
}
.area6Cont {
    display: table-cell;
    vertical-align: middle;
}
.textArea6 {
    color: #ffffff;
    font: 600 18px / 28px "Helvetica";
    font-weight: 400;
}
.area7 {
    height: 163px;
    padding: 25px;
}
.area8 {
    padding: 25px;
}
.imgArea8 {
    margin: 0 auto;
}


/*footer*/

.footer {
    background-color: rgba(0, 0, 0, 0.08);
}
    .footerTop {
        width: 600px;
        height: 179px;
        background-color: #343538;  
        margin: 0 auto;
    }
        .footerMenu3, .footerMenu2 {
            color: #c7c7c7;
            font: 400 14px / 24px "Helvetica";     
        }
            .footerMenu3 > a {
                color: #c7c7c7;
                font: 400 14px / 24px "Helvetica";
                display: inline-block;
            }
                .footerMenu3 > a:hover, .footerMenu3 > a:link, 
                .footerMenu3 > a:visited, .footerMenu3 > a:active {
                    text-decoration: none;
                }

.area2, .area3, .area4, .area5, .area6, .area7, .area8, .footer {
    margin-top: 15px;
}