html, body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 83px;
    background: url(images/header-bg.png);
    border-bottom: 4px solid black;
}

#content {
    padding-bottom: 40px;
}

img.headerLogo {
    padding-top: 24px;
}

img.headerLogo:link, img.headerLogo:hover {
    border: 0;
}

h3 {
    color: #464646;
    font: 700 14px "Helvetica";
}

h2 {
    color: #ffffff;
    font: 700 16px / 14px "Helvetica";
}

hr.spacer {
    background: url(images/Line.png);
    height: 6px;
    margin-top: 10px;
}



.searchBox {
    box-shadow: 0px 1px 0px 0.00px rgba(46, 46, 46, 0.6);
    background-color: #2f2f2f; 
    width: 150px;
    height: 25px;
    border-radius: 10px;
    color: #eee;
    border: 1px solid #262626;
    background-image: url(images/mag-glass.png);
    background-repeat: no-repeat no-repeat;
    background-position: 5px 5px;
    padding-left: 25px;
    margin-top: 30px;
}

:focus {
    outline: none;
}

nav {
    float: left;
    margin-top: 30px;
    min-width: 580px;
}

nav > ul > li {
    display: inline;
    color: #e8e8e8;
    font: 700 12px / 21px "Helvetica";
}

nav > ul > li:after {
    content: " \00a0";
    width: 1px;
    height: 29px;
    display: inline-block;
    background: url(images/right-copy-header.png);
}

nav > ul > li > a {
    color: #e8e8e8;
    font-weight: 700;
    font: 700 12px / 21px "Helvetica";
    padding: 6px 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

nav > ul > li > a:hover {
    color: #eee;
    font: 700 12px / 21px "Helvetica";
    text-decoration: none;
    background-color: #2f2f2f;
    border: 1px solid #262626;
    padding: 6px 10px;
    border-radius: 5px;
}




.font500-12-16 {
    color: #464646;
    font: 500 12px / 16px "Helvetica";
}
.font400-12 {
    color: #464646;
    font: 400 12px "Helvetica";
}
.font400-12-18 {
    color: #414141;
    font: 400 12px / 18px "Helvetica";
}
.font500-12 {
    color: #464646;
    font: 500 12px "Helvetica";
}

hr.footerSpacer {
    
    background: url(images/hr.png);
    height: 1px;
    border: 0px;
}


.footer {
    background: url(images/header-bg-copy.png);
    height: 348px;
    color: white;
    position: relative;
    padding-top: 20px;
    border-top: 4px solid black;
}

.footer p {
    color: #ffffff;
    font: 400 12px / 14px "Helvetica";
}

.twitterName {
    color: #999999;
    font-weight: 600;
}

.timer {
    color: #999999;
    font: 400 12px / 14px "Helvetica";
    margin-bottom: 20px;
    display: inline-block;
}

.twitterName:before {
    content: "@";
    color: white;
}

.twitter-widget > p {
    margin-bottom: 5px;
}

.smallFooterImg {
    height: 40px;
    width: 40px;
    border: 3px solid white;
    margin-right: 11px;
    margin-bottom: 14px;
    background: url(images/img.png);
}

.smallFooterImg:hover {
    border: 4px solid white;
    cursor: pointer;
}


.subFooter {
    width: 1200px;
    height: 72px;
    background-color: rgba(0,0,0,0.15);
    position: absolute;
    bottom: 0px;
    margin-left: 0px;
/*
    background: url(images/footer-bottom-line.png);
    position: absolute;
    bottom: 0px;
    margin-left: 0px;
*/
    
}

.contact, .copyright {
    padding-top: 22px;
}

.copyright {
    padding-left: 45px;
    padding-right: 5px;
}

.contact > p, .copyright > p {
    color: #818181;
    font: 400 12px / 14px "Helvetica";
    margin-bottom: 5px;
} 

.contact {
    padding-left: 0px;
}

img.footerLogo {
    padding-top: 15px;
}

.footerLogoDiv:after {
    content: " \00a0";
    width: 1px;
    height: 34px;
    display: inline-block;
    background: url(images/right-copy-footer.png);
/*    border: 1px solid white;*/
    margin-top: 24px;
    margin-left: 25px;
    
}


.copyright > p > .bold {
    font-weight: 700;
    color: #b2b2b2;
}

ul {
    padding: 0px;
}
    ul.dashed {
      list-style-type: none;
    }
/*
    ul.dashed > li {
      text-indent: -40px;
    }
*/
    ul.dashed > li:before {
      content: "- ";
    }





.twitterNameContent {
    color: #bababa;
    font: 400 12px / 14px "Helvetica";
    font-weight: 600;
}

.timerContent {
    color: #999999;
    font: 400 12px / 14px "Helvetica";
    margin-bottom: 20px;
    display: inline-block;
}

.twitterNameContent:before {
    content: "@";
    color: #464646;
    font: 300 12px / 14px "Helvetica";
}

.twitter-widget-cont > p {
    margin-bottom: 5px;
    color: #464646;
    font: 400 12px / 14px "Helvetica";
}

.rightCont {
    padding-right: 0px;
    padding-left: 30px;
}

.arch {
    padding-bottom: 20px;
}

.post1 {
    padding-right: 45px;
}