body {
/*
    background-image: -ms-linear-gradient(top left, #184478 0%, #216EAD 50%, #185E99 51%, #2F5FED 100%);
    background-image: -moz-linear-gradient(top left, #184478 0%, #216EAD 50%, #185E99 51%, #2F5FED 100%);
    background-image: -o-linear-gradient(top left, #184478 0%, #216EAD 50%, #185E99 51%, #2F5FED 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #184478), color-stop(50, #216EAD), color-stop(51, #185E99), color-stop(100, #2F5FED));
    background-image: -webkit-linear-gradient(top left, #184478 0%, #216EAD 50%, #185E99 51%, #2F5FED 100%);
    background-image: linear-gradient(to bottom right, #184478 0%, #216EAD 50%, #185E99 51%, #2F5FED 100%);
*/
    background-image: url(tlo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Questrial', sans-serif;
    color: #f5f5f0;
}
.milionerzy {
    margin: 10px 10px;
    font-size: 60pt;
    font-weight: bold;
    text-shadow: 3px 3px 15px black;    
}
.question {
    margin: 40px 20px;
    margin-top: 60px;
    padding: 15px 20px;
    font-size: 30pt;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px white;
    border-style: ridge;
    border-radius: 30px;
    border: 3px solid #C0C0C0;    
    background-color: #336699;
}
.answer {
    margin: 15px 5px;
    padding: 10px;
    font-size: 20pt;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px white;
    border-style: ridge;
    border-radius: 30px;
    border: 3px solid #C0C0C0;
}
.btn:focus {
    outline: none;
}
.answer:hover {
    border: 3px solid #3e3e3e;
    background: #ffb84d;    
    text-shadow: 3px 3px 10px black;
}
.hubcio > img {
    border: 5px solid white;
    border-radius: 15px;
    border-style: ridge;
    max-width: 90%;
}
.friendHelp, .audienceHelp, .fiftyFiftyHelp {
    margin: 15px 5px;
    padding: 10px;
    font-size: 20pt;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px white;
    border-style: ridge;
    border-radius: 30px;
    border: 3px solid #C0C0C0;
}
.friendHelp:hover, .audienceHelp:hover, .fiftyFiftyHelp:hover {
    border: 3px solid #3e3e3e;
    background: #ffb84d;    
    text-shadow: 3px 3px 10px black;
}