body {
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 18%, rgba(254,254,254,1) 22%, rgba(194,188,194,1) 54%, rgba(202,197,202,1) 60%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(18%, rgba(254,254,254,1)), color-stop(22%, rgba(254,254,254,1)), color-stop(54%, rgba(194,188,194,1)), color-stop(60%, rgba(202,197,202,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 18%, rgba(254,254,254,1) 22%, rgba(194,188,194,1) 54%, rgba(202,197,202,1) 60%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 18%, rgba(254,254,254,1) 22%, rgba(194,188,194,1) 54%, rgba(202,197,202,1) 60%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 18%, rgba(254,254,254,1) 22%, rgba(194,188,194,1) 54%, rgba(202,197,202,1) 60%, rgba(254,254,254,1) 100%);
	background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 18%, rgba(254,254,254,1) 22%, rgba(194,188,194,1) 54%, rgba(202,197,202,1) 60%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    overflow: hidden;
}

.header {
	font-size: 40pt;
	letter-spacing: 3pt;
	margin: 30pt auto;
	margin-bottom: 20pt;
}

.players {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 30px 0px;
}

	.players > div {
		display: table-cell;
		width: 225px;
		text-align: center;
		font-size: 20pt;
	}

.row {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 30px 10px;
}

.card {
	border: 2px solid #262626;
	border-radius: 20px;
	width: 225px;
	height: 333px;
	/*float: left;*/
	font-size: 30pt;
    display: table-cell;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*background: #ffffe6;*/

	position: relative;
}

.cardFront {
	background: rgba(212,228,239,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 15%, rgba(212,228,239,1) 35%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 64%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, rgba(212,228,239,1)), color-stop(35%, rgba(212,228,239,1)), color-stop(38%, rgba(212,228,239,1)), color-stop(64%, rgba(134,174,204,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 15%, rgba(212,228,239,1) 35%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 64%);
	background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 15%, rgba(212,228,239,1) 35%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 64%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 15%, rgba(212,228,239,1) 35%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 64%);
	background: radial-gradient(ellipse at center, rgba(212,228,239,1) 15%, rgba(212,228,239,1) 35%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 64%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

.cardBack {
	background-image: url("cardBack.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.top-left {
	position: absolute;
	top: 5px;
	left: 15px;
}

.bottom-right {
	position: absolute;
	bottom: 5px;
	right: 15px;
	text-align: right;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.red {
	color: red;
}

/*.card:nth-child(1) {
	margin-right: 20px;
}*/

button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffcc;
    font-size: 15pt;  
    letter-spacing: 3pt; 
    padding: 6pt 10pt; 
    display: block;
	margin: 30pt auto;
	margin-bottom: 20pt;	
}

.winner {
	border: 5px solid red;	

}
.message {
	color: red;
	font-size: 25pt;
	text-align: center;
	line-height: 333px;
}